html, body, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #ccc;
  font-weight: 400;
}

h1 {
  font-size: 39pt;
}

h2 {
  font-size: 24pt;
}

a {
  color: #ccc;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  max-width: 900px;
}

.main {
  margin: auto;
  padding: 0 16px;
  max-width: 800px;
  max-height: 900px;
  overflow-y: scroll;
}

.sub-text {
  margin: auto;
  max-width: 700px;
  position: absolute;
  padding: inherit;
  right: 0;
  bottom: 0;
  line-height: .8;
}

