@font-face {
  font-family: Roboto;
  src: url(/public/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/public/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

html, body, h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration:none;
}

body {
  background: #7cabcb;
  color: #fafafa;
  font-weight: 400;
  font-family: Roboto;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 768px;
  margin: auto;
  max-width: 500px;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: center;
}

.header .home {
  position: relative;
}

.header .home h1 {
  font-size: 50px;
}

.header .home a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.title {
  margin: 6px 0;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer .sub-text {
  margin: 22px;
}

.pad-w-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.list-item {
  position: relative;
  background-color: #fafafa;
  color: #333;
  margin: 0 12px 12px 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  overflow-x: auto;
}

.list-item-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  white-space: nowrap;
  justify-content: space-between;
  padding: 9px 0px 10px 9px;
}

.list-item h1 {
  font-size: 36px;
  line-height: 26px;
}

.list-item h3 {
  font-size: 18.72px;
  line-height: 14px;
}

.list-item span {
  font-size: 16px;
  line-height: 12px;
}

.list-item .stops {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list-item .stops .stop-time {
  margin-left: 6px;
  margin-right: 9px;
}

.list-item .stops .other-stops {
  display: flex;
  align-items: baseline;
  margin-bottom: 6px;
}

.list-item .stops .end-stop {
  display: flex;
  align-items: baseline;
}

.list-item.from-stop {
  margin: 0px 6px 12px 6px;
  justify-content: center;
  flex-grow: 1;
}

.list-item-node {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  min-width: 148px;
}

.list-item a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

