 @font-face {
  font-family: Montserrat;
  src: url(/public/fonts/Montserrat-Regular.ttf);
}

 @font-face {
  font-family: Montserrat;
  src: url(/public/fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

 @font-face {
  font-family: Roboto;
  src: url(/public/fonts/Roboto-Regular.ttf);
}

 @font-face {
  font-family: Roboto;
  src: url(/public/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

html, body, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  background: #c7e0f2;
  color: #fafafa;
  font-weight: 400;
  font-family: Roboto;
}

h1 {
  font-size: 39pt;
}

h2 {
  font-size: 24pt;
}

a {
  text-decoration:none;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 768px;
  margin: auto;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.header {
  height: 32px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.footer .sub-text {
  color: #7a9cff30;
  margin: 6px;
}

.list {
  flex-grow: 1;
  overflow-y: auto;
}

.pad-w-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.list-item {
  display: flex;
  position: relative;
  background-color: #fafafa;
  color: #333;
  margin: 6px 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
}

.list-item-content {
  padding: 6px 12px 4px 12px;
  width: 100%;
  overflow-x: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.list-item.stop {
  margin: 6px 6px;
  justify-content: center;
  flex-grow: 1;
}

.list-item-node {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  min-width: 128px;
}

.list-item a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

