{% extends "main" %}

{% block content %}
<h1 class="title">{{ title }}</h1>
<div class="content row wrap">
  {% for s in content.stops %}
  <div class="list-item from-stop">
    <a class="list-item-node" href="/upcoming-departures/{{s.stop_id}}">
      <h4>{{ s.stop_name }}</h4>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock content %}
