{% extends "main" %}

{% block content %}
<div class="content row wrap pad-w-6 mar-t-16">
  {% for s in stops %}
  <div class="list-item from-stop">
      <div class="list-item-node">
        <h4>{{ s.stop_name }}</h4>
      </div>
      <a href="/upcoming-departures/{{s.stop_id}}"></a>
  </div>
  {% endfor %}
</div>
{% endblock content %}
