<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/stylesheets/main.css">
    <title>Heen en Weer</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="home">
          <h1>🚣</h1>
          <a href="/"></a>
        </div>
      </div>
      <h1 class="center-text">{{ title }}</h1>
      {% block content %}{% endblock content %}
      <div class="footer">
        <h4 class="sub-text">Daan 2020</h4>
      </div>
    </div>
  </body>
</html>
