<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>{{ page_title }}</title>

    <meta charset="UTF-8">
    <meta name="description" content="pont.app - Een appie voor de Amsterdamse GVB pont dienstregeling, elke dag vers geïmporteerd, dus zo snel mogelijk up to date.">
    <link rel="manifest" href="/public/manifest-v1.webmanifest">

    <link rel="icon" href="/public/favicon.png">
    <link rel="icon" sizes="192x192" href="/public/favicon-192.png">
    <link rel="icon" sizes="512x512" href="/public/favicon-512.png">

    <link rel="apple-touch-icon" sizes="128x128" href="/public/favicon-128.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon-180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/public/favicon-167.png">

    <link rel="stylesheet" href="/public/stylesheets/main-v5.css">

    <script src="/public/scripts/main-v1.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="home">
          <h1>🚣</h1>
          <a href="/"></a>
        </div>
      </div>
      <h1 class="title">{{ title }}</h1>
      {% block content %}{% endblock content %}
      <div class="footer">
        <a href="https://daans.page">built by daan</a><br>
        <a href="https://rocket.rs">powered by rocket</a><br>
        <a href="https://www.rust-lang.org/">written in rust</a><br>
        <a href="https://www.raspberrypi.org/">running on pi</a><br>
        <a href="http://gtfs.ovapi.nl">imported on {{ download_date }}</a><br>
        <span>valid from {{ feed_info.feed_start_date }}</span><br>
        <span>valid to {{ feed_info.feed_end_date }}</span>
      </div>
    </div>
  </body>
</html>
