<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/public/favicon.ico">
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <title>Heen en Weer</title>
</head>
<body>
  <div class="container">
    <div class="main">
        <table>
          {{ #each this }}
          <tr>
            {{ #each this }}
              <td>{{ departure_time }} - {{ stop_name }}</td>
            {{ /each }}
          </tr>
        {{ /each }}
      </table>
    </div>
    <h2 class="sub-text">- Daan 2020</h2>
  </div>
</body>
</html>

