<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/public/favicon.ico">
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <title>Heen en Weer</title>
</head>
<body>
  <div class="container">
    <div class="main">
      <ul class="stop_list">
        {{ #each trips }}
        <li>
          <span>{{ departure_time }}</span>
          <span> </span>
          <span>{{ stop_name }}</span>
          <span> </span>
          <span>{{ trip_headsign }}</span>
          <span> </span>
        </li>
        {{ /each }}
      </ul>
    </div>
    <h2 class="sub-text">- Daan 2020</h2>
  </div>
</body>
</html>

