<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/public/favicon.ico">
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <title>Heen en Weer</title>
</head>
<body>
  <div class="container">
    <div class="header"></div>
    <div class="content column">
      <div class="list">
        {{ #each this }}
        <div class="list-item">
          {{ #each this }}
          <div class="list-item-node">
            <h4>{{ stop_name }}</h1>
            <h2>{{ departure_time }}</h2>
            <a href="/upcoming-departures/{{stop_id}}"></a>
          </div>
          {{ /each }}
        </div>
        {{ /each }}
      </div>
    </div>
    <div class="footer">
      <h2 class="sub-text">- Daan 2020</h2>
    </div>
  </div>
</body>
</html>

