{% extends "main" %}
{% block content %}
<div class="content column">
  <div class="list">
    <div class="list-item">
      <h1>{{ requested_stop }}</h1>
    </div>
  </div>
</div>
{% endblock content %}
